<section id="{{ .Scratch.Get "listen" }}" class="content-section text-center">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>{{- default "" .Params.listen.header | safeHTML -}}</h2>
            {{- range $i, $link := .Params.listen.links -}}
                {{- if (modBool $i 2) -}} {{/* Open row if even */}}
                    <div class="row">
                {{- end -}}
                        <script type="text/javascript">$(window).load(getSoundCloudEmbed({{- $link -}}, {{- $i -}}))</script>
                        <div class="col">
                            <div id="soundcloud-{{- $i -}}"></div>
                        </div>
                {{- if not (modBool $i 2) -}} {{/* Close row if odd */}}
                    </div>
                {{- end -}}
            {{- end -}}
            {{- if not (modBool (len .Params.listen.links) 2) -}}
                </div>
            {{- end -}}
        </div>
    </div>
    </div>
</section>
